<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:Thin">
<link type="text/css" href='lib/bootstrap/css/bootstrap.css' rel='stylesheet'/>
<link type="text/css" href='styles/style2.css' rel='stylesheet'/>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script>
console.log("<%- user.id %>");
</script>

<div class="container-fluid main-wrapper-2" ng-controller="dashboardController">
	<div class="row">
		<div class="col-lg-12 top-banner">
			<div class="row">
				<div class="col-lg-5 col-lg-push-2">
					<img class="logo-img-2" src="images/Logo-White.png" />
				</div>

				<ul class="col-lg-5 list-inline top-notification pull-right" >
					<li><img class="profile-pic-top" src="http://graph.facebook.com/<%- user.facebookId %>/picture?type=square"/></li>
				  <li><img class="notification" src="images/Notifications.png" /></li>
				  <li><img class="settings" src="images/Settings.png" /></li>
				  <li> 
				  	<input type="text" class="form-control" ng-model="query" placeholder="Search" name="srch-term" id="srch-term">
			  	</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-6 col-lg-push-2">
				<div class="content-wrapper">
					<ul class="block-content">

						<li ng-repeat="event in events | filter: query" class="block-list">
							<div class="row">
								<div class="col-lg-2">
									<img class="block-pic" src="http://graph.facebook.com/<%- user.facebookId %>/picture?type=square" />
								</div>
								<div class="col-lg-10">
									<div class="row">
										<div class="col-lg-12 block-content-top">
											<span class="block-notification"><span class="block-person-name"><%- user.name %></span> created a public event called <span class="block-event-name"> {{event.eventName}}</span></span>
											</div>
									</div>
									<div class="row">
										<div class="col-lg-12 block-content-bottom">
											<ul class="list-inline" >
											  <li>Like</li>
											  <li>Comment</li>
											  <li>Request an invite</li>
											  <li class="block-time">20 minutes ago</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li class="block-list"> 
							<div class="row">
								<div class="col-lg-2">
									<img class="block-pic" src="http://graph.facebook.com/<%- user.facebookId %>/picture?type=square" />
								</div>
								<div class="col-lg-10">
									<div class="row">
										<div class="col-lg-12 block-content-top">
											<span class="block-notification"><span class="block-person-name"><%- user.name %></span> created a public event called <span class="block-event-name">Designer's Meetup</span></span>
											</div>
									</div>
									<div class="row">
										<div class="col-lg-12 block-content-bottom">
											<ul class="list-inline" >
											  <li>Like</li>
											  <li>Comment</li>
											  <li>Request an invite</li>
											  <li class="block-time">20 minutes ago</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>


						<li class="block-list"> 
							<div class="row">
								<div class="col-lg-2">
									<img class="block-pic" src="images/Avatar1.png" />
								</div>
								<div class="col-lg-10">
									<div class="row">
										<div class="col-lg-12 block-content-top">
											<span class="block-notification"><span class="block-person-name"><%- user.name %></span> created a public event called <span class="block-event-name">Hacker's Night.</span></span>
											</div>
									</div>
									<div class="row">
										<div class="col-lg-12 block-content-bottom">
											<ul class="list-inline" >
											  <li>Like</li>
											  <li>Comment</li>
											  <li>Request an invite</li>
											  <li class="block-time">42 minutes ago</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li class="block-list"> 
							<div class="row">
								<div class="col-lg-2">
									<img class="block-pic" src="images/Avatar1.png" />
								</div>
								<div class="col-lg-10">
									<div class="row">
										<div class="col-lg-12 block-content-top">
											<span class="block-notification"><span class="block-person-name"><%- user.name %></span> created a public event called <span class="block-event-name">Weekend Hiking.</span></span>
											</div>
									</div>
									<div class="row">
										<div class="col-lg-12 block-content-bottom">
											<ul class="list-inline" >
											  <li>Like</li>
											  <li>Comment</li>
											  <li>Request an invite</li>
											  <li class="block-time">53 minutes ago</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>


					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-lg-push-2">
				<div class="side-wrapper">
					<img ng-click="createEvent()" class="create-event" src="images/CreateEvent.png" />
				</div>

				<div class="side-block">
					<div class="heading">
						Upcoming events
					</div>

					<div ng-repeat="event in events" class="side-content">
						<div class="row">
							<div class="col-lg-2 col-lg-push-1 side-block-time">
								13 Aug
							</div>
							<div class="col-lg-9 col-lg-push-1">
								<div class="row">
									<div class="col-lg-12">
										<span class="block-event-name pull-left">{{event.eventName}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 side-content-bottom">
										<img class="pull-left" width="15px" height="15px" src="images/Pin.png" /> <span class="block-place-list pull-left">{{event.eventLocation}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 side-content-bottom">
										<img class="pull-left" width="15px" height="15px" src="images/Clock.png" /><span class="block-time-list pull-left">5PM-8PM</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="side-content">
						<div class="row">
							<div class="col-lg-2 col-lg-push-1 side-block-time">
								13 Aug
							</div>
							<div class="col-lg-9 col-lg-push-1">
								<div class="row">
									<div class="col-lg-12">
										<span class="block-event-name pull-left">Weekend Hiking</span>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 side-content-bottom">
										<img class="pull-left" width="15px" height="15px" src="images/Pin.png" /> <span class="block-place-list pull-left">Hacker's Night</span>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 side-content-bottom">
										<img class="pull-left" width="15px" height="15px" src="images/Clock.png" /><span class="block-time-list pull-left">5PM-8PM</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="side-content">
						<div class="row">
							<div class="col-lg-2 col-lg-push-1 side-block-time">
								13 Aug
							</div>
							<div class="col-lg-9  col-lg-push-1">
								<div class="row">
									<div class="col-lg-12">
										<a href="/event"><span class="block-event-name pull-left">Designer's Meetup</span></a>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 side-content-bottom">
										<img class="pull-left" width="15px" height="15px" src="images/Pin.png" /> <span class="block-place-list pull-left">Designer's Meetup</span>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 side-content-bottom">
										<img class="pull-left" width="15px" height="15px" src="images/Clock.png" /><span class="block-time-list pull-left">6PM-9PM</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="side-content">
						<div class="row">
							<div class="col-lg-2 col-lg-push-1 side-block-time">
								13 Aug
							</div>
							<div class="col-lg-9 col-lg-push-1">
								<div class="row">
									<div class="col-lg-12">
										<a href="/event"><span class="block-event-name pull-left">Designer's Meetup</span></a>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 side-content-bottom">
										<img class="pull-left" width="15px" height="15px" src="images/Pin.png" /> <span class="block-place-list pull-left">Weekend Hiking</span>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 side-content-bottom">
										<img class="pull-left" width="15px" height="15px" src="images/Clock.png" /><span class="block-time-list pull-left">10AM-12PM</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="createEvent.html">
    <div class="modal-all">
	    <div class="modal-header">
	        <h3 class="modal-title">Create Event</h3>
	    </div>
	    <div class="modal-body">
	    	<form class="form-horizontal">
		      <div class="form-group">
						<div class="col-lg-12">
							<input class="form-control" type="text" ng-model="event_name" placeholder="Event Name">
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<textarea class="form-control" ng-model="event_details" placeholder="Event Details"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<input class="form-control" id="location_picker" type="text" ng-model="event_place" placeholder="Event Location" ng-change="updatePac()" googleplace/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-5">
							<p class="input-group">
								<input class="form-control" type="text" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'", datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true", close-text="Close" placeholder="Start Date" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-side" ng-click="open($event)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</p>
						</div>
						<div class="col-lg-5 col-lg-push-2">
							<p class="input-group pull-right">
							<input class="form-control" type="text" datepicker-popup="{{format2}}" ng-model="dt2" is-open="opened2" min-date="minDate2" max-date="'2015-06-22'", datepicker-options="dateOptions2" date-disabled="disabled2(date2, mode2)" ng-required="true", close-text="Close" placeholder="End Date" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-side" ng-click="open2($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</p>
						</div>
					</div>
				</form>
			</div>
		  <div class="modal-footer">
	        <button class="btn btn-next" ng-click="submitEvent(event_name, event_details, event_place, dt, dt2)">Next</button>
	    </div>
    </div>
</script>

<script type="text/ng-template" id="nextEventPage.html">
    <div class="modal-all">

	    <div class="modal-body">
	    	<h4 class="modal-title">Choose your clique</h3>
	    	<p class="modal-body-p"> Your clique is the group of people who you’ll be spending your time at this event with. Decide how you want to choose them and then give them a specific time limit to show their availability. </p>
	    	<h4 class="modal-title">Invite Friends</h3>
        <p><button class="btn btn-facebook" ng-click="">via Facebook</button>
        <button class="btn btn-send-link" ng-click="">Send a link</button></p>
	    	<h4 class="modal-title">Now give them a time limit</h3>
				<p><input class="form-control" type="text" placeholder="Time"></p>


			</div>
		  <div class="modal-footer">
	        <button class="btn btn-done" ng-click="eventDone()">Done</button>
	    </div>
    </div>
</script>
